*{
  padding: 0;
  margin: 0;   
 }
 
 /* body{height:10000px} */
 
 .allpage{display: flex; }
 
 .leftbar{box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
 background-color: white;
 width: 15%;
 /* height: 2000px;; */
 display: flex;
 flex-direction: column;
 padding-left: 40px;
 font-size: 20px;
 line-height: 2;
 justify-content: start;
 position: sticky;
   top: 0px;
   height: 100vh;   
}
 
 .leftbar .leftbar-title{
  padding-top: 20px;   
 font-weight: bold;}
 
 .leftbar hr{
     width: 150px;
    margin-top: 15px;
    margin-bottom: 10px;
 margin-left: -20px;
 }
 
 .leftbar span{  
 margin-left: -15px;
 text-decoration: none;
 color: black;
 margin-top: 5px;
 transition: 1.5s;
 display: flex;
 gap: 10px;
 align-items: center;
 cursor: pointer;
 }
 .leftbar span:hover{background-color: gray;
 margin-left: 10px; }
 
 .leftbar a{  
   margin-left: 5px;
   text-decoration: none;
   color: black;
 }
   
 
 .leftbar span:hover a{ 
  color: white;}  
 
   
   /* <!------------rightpart----------------> */
   .rightpart{
     width: 90%;
     border: 0px black solid;
   padding: 10px auto;
   }
   
   
   /* <!-------navbar------> */
   
   
   .navbar{width: 100%;
     padding: 20px auto;
     display: flex;
     justify-content: space-between;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }
   
    .navbar input{
     margin: 15px 30px;
     height: 40px;
     padding-left: 10px;
     border-radius: 20px;
    }
    .navbar .logo{display: flex;
      gap: 10px;
      margin-right: 20px;
    font-size: 40px;
    width: 100px;
    color: aqua;
    padding: 10px;
  align-items: center;  
  }
    
  .navbar .logo img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
   }
   .navbar .logo{
    font-size: 32px;
    color: black;}
  
   
   
   /* .content */
.friends{
width: 100%;
height: 1800px;
background-color: rgba(122, 190, 211, 0.098);
}

.friends h1{padding: 20px;
margin-left: 20px;}
.friends .hr1{width: 160px;
margin-left: 20px;
padding: 3px 0px;
background:linear-gradient(to right,black,white);}


.friends .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
gap: 10px;
}

.friends .content .cart {box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
width: 32%;
height: 350px;
border-radius: 10px;
margin-top: 20px;
background-color: rgb(255, 255, 255);
}
.friends .content .cart .logotop1{
width: 30px;
margin-top: 20px;
margin-left: 15px;
background-color: rgba(128, 128, 128, 0.192);
border-radius: 50%;
}
.friends .content .cart .logotop2{
  width: 30px;
  margin-left: 46px;
  margin-top: -22px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.192);
  }

.friends .content .cart .img1{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-left: 35%;
  margin-top: -10px;
}

.friends .content .cart h3{
  text-align: center;
line-height: 10px;
padding: 15px 0px;}
.friends .content .cart h4{opacity: .4;
text-align: center;}
  .friends .content .cart hr{width: 90%;
  opacity: .2;
margin: 10px 15px;}

.friends .content .cart .logo2{
  /* line-height: 20px; */
  padding:0px 20px;}

  .friends .content .cart p{margin-top: -20px;
    margin-left: 60px;}

.friends .content .cart .bottom p{
margin-top: 15px;
margin-left: 15px;
opacity: .4;
}

.friends .content .cart .bottom .button1{position: relative;
 top: -25px;
 left: 240px;
  padding: 5px;
  color: white;
border-radius: 10px;
background-color: rgba(53, 85, 192, 0.849);}

.friends .content .cart .bottom .button2{position: relative;
top: -25px;
left: 240px;
padding: 5px;
color: white;
border-radius: 10px;
background-color:rgba(255, 0, 0, 0.89);}
  





/* <===============================> */

@media screen and (max-width:410px){

  *{
    padding: 0;
    margin: 0;   
   }
   
     
   
   .allpage{display: flex; }
   
   .leftbar{
     position: sticky;
     top: 2px;
     box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   background-color: white;
   width: 25%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   padding-left: 10px;
   font-size: 8px;
   line-height: 2;
   justify-content: start;
   position: sticky;
   }
   .leftbar .leftbar-title{
    padding-top: 20px;   
   font-weight: bold;}
   
   .leftbar hr{
       width: 50px;
      margin-top: 15px;
      margin-bottom: 10px;
   margin-left: -20px;
   }
   
   .leftbar span{  
   margin-left: -25px;
   text-decoration: none;
   color: black;
   margin-top: 5px;
   transition: 1.5s;
   display: flex;
   gap: 1px;
   align-items: center;
   cursor: pointer;
   }
   .leftbar span:hover{background-color: gray;
   margin-left: 10px; 
   ;}
   
    .leftbar span:hover a{ 
      color: white;}
   
      
   .leftbar a{  
     margin-left: 10px;
     text-decoration: none;
     color: black;
   }
     
   
   
   
   /* <!------------rightpart----------------> */
   .rightpart{
     width: 100%;
     border: 0px black solid;
   padding: 10px auto;
   }
   
   
   /* <!-------navbar------> */
   
   
   .navbar{width: 100%;
     padding: 20px auto;
     display: flex;
     justify-content: space-between;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }
   
    .navbar input{
     margin: 15px 30px;
     height: 40px;
     padding-left: 10px;
     border-radius: 20px;
    }
   .navbar .logo{display: flex;
     gap: 10px;
     margin-right: 20px;
   font-size: 40px;
   width: 100px;
   color: aqua;
   padding: 10px;
   align-items: center;
   }
   
   .navbar .logo img{
     border-radius: 50%;
     width: 25px;
     height: 25px;
    }
    .navbar .logo{
     font-size: 25px;
     color: black;}


     /* <==============> */
     
.dashpord{ background-color:rgba(148, 179, 187, 0.233);  
}

.dashpord h1{
  font-size:14px;
  padding-top: 20px;
 padding-left: 10px; 
}

   
   /* .content */
   .friends{
    width: 100%;
    height: 1800px;
    background-color: rgba(122, 190, 211, 0.098);
    }
    
    .friends h1{padding: 20px;
    margin-left: 20px;
  font-size: 16px;
  }
    .friends .hr1{width: 100px;
    margin-left: 20px;
    padding: 3px 0px;
    background:linear-gradient(to right,black,white);}
    
    
    .friends .content{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
    gap: 5px;
    margin-left: -15px;
    }
    
    .friends .content .cart {box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 43%;
    height: 330px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    }
    .friends .content .cart .logotop1{
    width: 30px;
    margin-top: 20px;
    margin-left: 15px;
    background-color: rgba(128, 128, 128, 0.192);
    border-radius: 50%;
    }
    .friends .content .cart .logotop2{
      width: 30px;
      margin-left: 46px;
      margin-top: -22px;
      border-radius: 50%;
      background-color: rgba(128, 128, 128, 0.192);
      }
    
    .friends .content .cart .img1{
      width:50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 30%;
      margin-top: 10px;
    }
    
    .friends .content .cart h3{
      text-align: center;
    line-height: 10px;
    padding: 15px 0px;}
    .friends .content .cart h4{opacity: .4;
    text-align: center;}
      .friends .content .cart hr{width: 90%;
      opacity: .2;
    margin: 10px 15px;}
    
    .friends .content .cart .logo2{
      /* line-height: 20px; */
      padding:0px 20px;}
    
      .friends .content .cart p{margin-top: -20px;
        margin-left: 60px;}
    
    .friends .content .cart .bottom p{
    margin-top: 15px;
    margin-left: 15px;
    opacity: .4;
    }
    
    .friends .content .cart .bottom .button1{position: relative;
     top: 4px;
     left: 40px;
      padding: 2px;
      color: white;
    border-radius: 10px;
    background-color: rgba(53, 85, 192, 0.849);}
    
    .friends .content .cart .bottom .button2{position: relative;
    top: 4px;
    left: 40px;
    padding: 2px;
    color: white;
    border-radius: 10px;
    background-color:rgba(255, 0, 0, 0.89);}
      
    
    
    
    

}